main {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    }

        
mat-card {
    margin: auto;
    width: 50%;
    display: block;
    margin-top: 2rem;
}

mat-form-field {
    width:100%;
   
}

.example-card {
    max-width: 250px;
    text-align: center;
    display: block ;
    padding: 1rem;
    /* margin-top: 2rem;
    margin-left: 2rem ; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }